{%load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Sumisoft .:Pabon:. </title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:300" />
    <link rel="stylesheet" href="../static/index/style.css" />
    <script data-require="jquery@2.1.3" data-semver="2.1.3" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="../static/index/app.js"></script>
  </head>

  <body>
    <nav id="main-menu" role="navigation" class="main-menu">
      
      <div class="logo">
        
        <a href="/">Logo</a>
        
      </div>
      
      <!-- <div class="settings"> -->
        <ul>
          <li class="has-subnav">
            <a href="#settings">
              <i class="fa fa-gear fa-lg"></i>
              <span class="nav-text"> Settings</span>
            </a>
            <ul class="sub-nav">
              <li><a href="#account">Account</a></li>
              <li><a href="#profile">Profile</a></li>
              <li><a href="#edit">Edit Profile</a></li>
            </ul>
          </li>
        </ul>
      <!-- </div> -->
      
      <ul>
        
        <li class="has-no-subnav">
          <a href="#dashboard">
            <i class="fa fa-home fa-lg"></i>
            <span class="nav-text"> Dashboard</span>
          </a>
        </li>
        
        <li class="has-subnav">
          <a href="#overview">
            <i class="fa fa-area-chart fa-lg"></i>
            <span class="nav-text"> Overview</span>
          </a>
        </li>
        
        <li class="has-subnav">
          <a href="#reports">
            <i class="fa fa-file fa-lg"></i>
            <span class="nav-text"> Reports</span>
          </a>
        </li>
        
        <li class="has-subnav">
          <a href="#analytics">
            <i class="fa fa-line-chart fa-lg"></i>
            <span class="nav-text"> Analytics</span>
          </a>
        </li>
        
        <li class="has-no-subnav">
          <a href="#export">
            <i class="fa fa-download"></i>
            <span class="nav-text"> Export</span>
          </a>
        </li>
      </ul>
      
      <ul class="logout">
        <li class="has-no-subnav">
          <a href="#logout">
            <i class="fa fa-sign-out fa-lg"></i>
            <span class="nav-text"> Cerrar Sesión</span>
          </a>
        </li>
      </ul>
      
    </nav>
    
    <!-- <div class="navbar navbar-default navbar-fixed-top">
      
    </div> -->
    
    <div class="container-fluid app-view-container">
      
      <div class="row">
        
        <main id="main" role="main" class="container-fluid main">
          <div id="settings">
            <h1 class="page-header">Settings</h1>
          </div>

          <div id="overview">
            <h1 class="page-header">Overview</h1>
          </div>

          <div id="reports">
            <h1 class="page-header">Reports</h1>
          </div>

          <div id="analytics">
            <h1 class="page-header">Analytics</h1>
          </div>

          <div id="export">
            <h1 class="page-header">Export</h1>
          </div>

          <div id="dashboard">
            <h1 class="page-header">Dashboard</h1>
          
            <div class="row placeholders">
              
              <div class="col-xs-6 col-sm-3 placeholder">
                
                <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail" />
                <!-- <div class="pie"></div> -->
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
              </div>
              
              <div class="col-xs-6 col-sm-3 placeholder">
                <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail" />
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
              </div>
              
              <div class="col-xs-6 col-sm-3 placeholder">
                
                <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail" />
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
                
              </div>
              
              <div class="col-xs-6 col-sm-3 placeholder">
                
                <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail" />
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
                
              </div>
              
            </div>

            <h2 class="sub-header">Projects</h2>

            <div class="table-responsive">
            
              <table class="table table-striped">
                
                <thead>
                  
                  <tr>
                    <th>#</th>
                    <th>Header</th>
                    <th>Header</th>
                    <th>Header</th>
                    <th>Header</th>
                  </tr>
                  
                </thead>
                
                <tbody>
                  
                  <tr>
                    <td>1,001</td>
                    <td>Lorem</td>
                    <td>ipsum</td>
                    <td>dolor</td>
                    <td>sit</td>
                  </tr>
                  
                  <tr>
                    <td>1,002</td>
                    <td>amet</td>
                    <td>consectetur</td>
                    <td>adipiscing</td>
                    <td>elit</td>
                  </tr>
                  
                  <tr>
                    <td>1,003</td>
                    <td>Integer</td>
                    <td>nec</td>
                    <td>odio</td>
                    <td>Praesent</td>
                  </tr>
                  
                  <tr>
                    <td>1,003</td>
                    <td>libero</td>
                    <td>Sed</td>
                    <td>cursus</td>
                    <td>ante</td>
                  </tr>
                  
                  <tr>
                    <td>1,004</td>
                    <td>dapibus</td>
                    <td>diam</td>
                    <td>Sed</td>
                    <td>nisi</td>
                  </tr>
                  
                  <tr>
                    <td>1,005</td>
                    <td>Nulla</td>
                    <td>quis</td>
                    <td>sem</td>
                    <td>at</td>
                  </tr>
                  
                  <tr>
                    <td>1,006</td>
                    <td>nibh</td>
                    <td>elementum</td>
                    <td>imperdiet</td>
                    <td>Duis</td>
                  </tr>
                  
                  <tr>
                    <td>1,007</td>
                    <td>sagittis</td>
                    <td>ipsum</td>
                    <td>Praesent</td>
                    <td>mauris</td>
                  </tr>
                  
                  <tr>
                    <td>1,008</td>
                    <td>Fusce</td>
                    <td>nec</td>
                    <td>tellus</td>
                    <td>sed</td>
                  </tr>
                  
                  <tr>
                    <td>1,009</td>
                    <td>augue</td>
                    <td>semper</td>
                    <td>porta</td>
                    <td>Mauris</td>
                  </tr>
                  
                  <tr>
                    <td>1,010</td>
                    <td>massa</td>
                    <td>Vestibulum</td>
                    <td>lacinia</td>
                    <td>arcu</td>
                  </tr>
                  
                  <tr>
                    <td>1,011</td>
                    <td>eget</td>
                    <td>nulla</td>
                    <td>Class</td>
                    <td>aptent</td>
                  </tr>
                  
                  <tr>
                    <td>1,012</td>
                    <td>taciti</td>
                    <td>sociosqu</td>
                    <td>ad</td>
                    <td>litora</td>
                  </tr>
                  
                  <tr>
                    <td>1,013</td>
                    <td>torquent</td>
                    <td>per</td>
                    <td>conubia</td>
                    <td>nostra</td>
                  </tr>
                  
                  <tr>
                    <td>1,014</td>
                    <td>per</td>
                    <td>inceptos</td>
                    <td>himenaeos</td>
                    <td>Curabitur</td>
                  </tr>
                  
                  <tr>
                    <td>1,015</td>
                    <td>sodales</td>
                    <td>ligula</td>
                    <td>in</td>
                    <td>libero</td>
                  </tr>
                  
                </tbody>
                
              </table>
            
            </div>

          </div>
          
        </main>
        
      </div>
      
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="../static/index/app.js"></script>
    <script type="text/javascript">
      (function ($) {
          'use strict';

          var mainMenu = $('#main-menu'),
              nav = $('.has-no-subnav'),
              subNavLi = $('.has-subnav'),
              subNav = $('.sub-nav');

          mainMenu.mouseleave(function () {
              subNavLi.removeClass('expanded');
              subNav.removeClass('expanded');
          });

          nav.click(function () {

              subNavLi.removeClass('expanded');
              subNav.removeClass('expanded');

          });

          subNavLi.click(function () {

              var _this = $(this);

              if (_this.hasClass('expanded')) {

                  _this.removeClass('expanded');
                  subNav.removeClass('expanded');

              } else {

                  subNavLi.removeClass('expanded');
                  _this.addClass('expanded');
                  subNav.removeClass('expanded');
                  _this.find(subNav).addClass('expanded');

              }

          });

      }(jQuery));
    </script>
  </body>

</html>
